<?xml version='1.0' encoding='utf-8'?>
<widget id="com.albanezfelipe.genius" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Genius</name>
    <description>Genius</description>
    <author email="felipe.contin@hotmail.com" href="https://albanezfelipe.github.io/">
        Felipe Albanez Contin
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <icon density="mdpi" src="res/mipmap-mdpi/ic_genius.png" />
        <icon density="hdpi" src="res/mipmap-hdpi/ic_genius.png" />
        <icon density="xhdpi" src="res/mipmap-xhdpi/ic_genius.png" />
        <icon density="xxhdpi" src="res/mipmap-xxhdpi/ic_genius.png" />
        <icon density="xxxhdpi" src="res/mipmap-xxxhdpi/ic_genius.png" />
    </platform>
    <allow-navigation href="about:*" />
</widget>
